<div class="face-snap-card" [ngClass]="{ snapped: userHasSnapped }">
  <h2>{{ faceSnap.title | uppercase }}</h2>
  @if(faceSnap.location){
  <p>Location: {{ faceSnap.location }}</p>
  }@else{
    <p>Location: Not specified</p>
  }
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <p>
    FaceSnap created on:
    {{ faceSnap.createdAt | date: 'MMMM d yyyy, HH:mm' }}
  </p>
  <p>
    <button (click)="onSnap()">{{ snapButtonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }"
      >🤌 {{ faceSnap.snaps }}</span
    >
  </p>
</div>
